apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  APP_DEBUG: "false"
  APP_ENV: production
  APP_KEY: {{app_key}}
  APP_LOG_LEVEL: debug
  APP_NAME: "Smart48"
  APP_URL: {{app_url}}
  BROADCAST_DRIVER: pusher
  CACHE_DRIVER: redis
  QUEUE_DRIVER: redis
  SESSION_DRIVER: redis
  DB_CONNECTION: mysql
  DB_DATABASE: backend
  DB_HOST: {{db_hostname}}
  DB_PASSWORD: {{db_password}}
  DB_PORT: "3306"
  DB_USERNAME: {{db_username}}
  REDIS_HOST: redis
  REDIS_PORT: "6379"
